html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  font-family: sans-serif;
}

input {
  outline: none;
  appearance: none;
  box-shadow: none;
}

.text-input {
  margin: 0px 10px;
  border-radius: 5px;
}

select {
  margin: 0px 10px;
  border-radius: 5px;
}
